@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CustomFont1";
  src: url("/fonts/TT-Tunnels-Trial-Bold.otf ") format("opentype");
}

@font-face {
  font-family: "CustomFont2";
  src: url("/fonts/TT-Tunnels-Trial-Light.otf") format("opentype");
}

@font-face {
  font-family: "CustomFont3";
  src: url("/fonts/TT-Tunnels-Trial-Regular.otf") format("opentype");
}

@font-face {
  font-family: "CustomFont4";
  src: url("/fonts/TT-Tunnels-Trial-Thin.otf") format("opentype");
}

@font-face {
  font-family: "CustomFont5";
  src: url("/fonts/TT-Tunnels-Trial-Heavy.otf") format("opentype");
}
@font-face {
  font-family: "CustomFont6";
  src: url("/fonts/TT-Lakes-Neue-Italic.ttf") format("opentype");
}

.bold {
  font-family: "CustomFont1", sans-serif;
}

.light {
  font-family: "CustomFont2", sans-serif;
}
.regular {
  font-family: "CustomFont3", sans-serif;
}

.thin {
  font-family: "CustomFont4", sans-serif;
}

.heavy {
  font-family: "CustomFont5", sans-serif;
}

.slant {
  font-family: "CustomFont6", sans-serif;
}

/* fill button background on hero */
.button {
  letter-spacing: 1px;
  color: white;
  line-height: 100%;
  -webkit-transition: border-color 0.35s ease, background 0.35s ease;
  transition: border-color 0.35s ease, background 0.35s ease;
}

.button:before {
  background-color: rgb(60, 64, 94);
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.button:hover:before {
  top: 0;
}

.button:hover {
  color: #fff;
  transition: 0.25s;
}

.button:after {
  position: absolute;
  right: 2.34375rem;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(50%);
  -ms-transform: translateY(-50%) translateX(50%);
  transform: translateY(-50%) translateX(50%);
  font-size: 1.75em;
}
.popUpWord {
  color: transparent;
  background-image: linear-gradient(90deg, black 50%, goldenrod 50%);
  background-position: 0;
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;

  transition: background-position 0.2s ease-in-out;
}



.popUpWord:hover {
  background-position: 100%;
}

.sec-bg {
  background: rgb(29, 33, 69);
}

.btn-bg {
  background-color: #272b4d;
}

.contact-bg {
  background: #212121;
}

/* .btn {
  transition-duration: 0.5s;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
}

.btn:hover,
.btn:focus,
.btn:active {
  padding: 30px 60px;
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
} */

/* for selected options */
@media (max-width: 768px) {
  .scroll {
    margin: 4px, 4px;
    padding: 4px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
}

.animated-wrapper {
  cursor: pointer;
}

.animated-btn {
  overflow: hidden;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.btn-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.pen-1,
.pen-2 {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
}

.pen-2 {
  transform: translate(-100%, -100%);
}

.animated-btn:hover .pen-1 {
  transform: translate(100%, 100%);
}

.animated-btn:hover .pen-2 {
  transform: translate(0, 0);
}

.animated-btn:hover {
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

 
/* arrow animation */
.arrow-main {
  transition: transform 0.3s ease-in-out;
}
.arrow-wrapper {
  cursor: pointer;
  overflow: hidden;
}

.arrow-wrapper .arrow-span {
  display: flex;
  width: 200%;
  transition: 0.25s ease-in-out;
}

.arrow-wrapper .arr-1,
.arrow-wrapper .arr-2 {
  flex: 1 0 50%;
}

.arrow-main:hover {
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.arrow-main:hover .arrow-span {
  transform: translateX(-50%);
}
