@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Floral Paradise Script";
  src: url("/fonts/Floral_Paradise/Floral-Paradise-Script-Italic.otf")
    format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Floral Paradise Script";
  src: url("/fonts/Floral_Paradise/Floral-Paradise-Script-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Floral Paradise Serif";
  src: url("/fonts/Floral_Paradise/Floral-Paradise-Serif-Italic.otf")
    format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Floral Paradise Serif";
  src: url("/fonts/Floral_Paradise/Floral-Paradise-Serif-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TT Tunnels Trial";
  src: url("/fonts/TT_Tunnels/TT-Tunnels-Trial-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "TT Tunnels Trial";
  src: url("/fonts/TT_Tunnels/TT-Tunnels-Trial-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "TT Tunnels Trial";
  src: url("/fonts/TT_Tunnels/TT-Tunnels-Trial-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TT Tunnels Trial";
  src: url("/fonts/TT_Tunnels/TT-Tunnels-Trial-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TT Tunnels Trial";
  src: url("/fonts/TT_Tunnels/TT-Tunnels-Trial-Heavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --font-inter: "Inter", sans-serif;
  --font-floral-paradise-script: "Floral Paradise Script", sans-serif;
  --font-floral-paradise-serif: "Floral Paradise Serif", sans-serif;
  --font-tt-tunnels: "TT Tunnels Trial", sans-serif;
  --padding-vertical-screen: calc(60 / 1420 * 100vw);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-archivo);
}

.bold {
  font-family: "CustomFont1", sans-serif;
}

.light {
  font-family: "CustomFont2", sans-serif;
}
.regular {
  font-family: "CustomFont3", sans-serif;
}

.thin {
  font-family: "CustomFont4", sans-serif;
}

.heavy {
  font-family: "CustomFont5", sans-serif;
}

.slant {
  font-family: "CustomFont6", sans-serif;
}

.floral-thin {
  font-family: "CustomFont7", sans-serif;
}
.floral-reg {
  font-family: "CustomFont8", sans-serif;
}

.sec-bg {
  background: rgb(29, 33, 69);
}

.btn-bg {
  background-color: #272b4d;
}
.tab-bg {
  background-color: #282828;
}
.tab-no {
  color: #3e3d3d;
}
.tab-br {
  border-color: #3e3d3d;
}
.light-gray {
  background-color: #4b4b4b;
}
.light-br {
  border-color: #9b9999;
}
.ad-cards {
  background-color: #ededed;
}
.contact-bg {
  background: #212121;
}

.animated-wrapper {
  cursor: pointer;
}

.animated-btn {
  overflow: hidden;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.btn-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.pen-1,
.pen-2 {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
}

.pen-2 {
  transform: translate(-100%, -100%);
}

.animated-btn:hover .pen-1 {
  transform: translate(100%, 100%);
}

.animated-btn:hover .pen-2 {
  transform: translate(0, 0);
}

.animated-btn:hover {
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.perks-items {
  box-shadow: 0px 0px 0px grey;
  transition:
    box-shadow 0.6s ease-out,
    transform 0.6s ease-out;
  box-shadow: 0.8px 0.9px 3px grey;
}

.perks-items:hover {
  transform: translateY(25px) scale(1.005) translateZ(0);
  box-shadow:
    0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px var(--box-shadow-color);
}

/*contact arrow animation */
.arrow-main {
  transition: transform 0.3s ease-in-out;
}
.arrow-wrapper {
  cursor: pointer;
  overflow: hidden;
}

.arrow-wrapper .arrow-span {
  display: flex;
  width: 200%;
  transition: 0.25s ease-in-out;
}

.arrow-wrapper .arr-1,
.arrow-wrapper .arr-2 {
  flex: 1 0 50%;
}

.arrow-main:hover {
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.arrow-main:hover .arrow-span {
  transform: translateX(-50%);
}

/** ---------------------- Homepage animations ------------------  */
/* infinte scroll */
.slider {
  width: 100%;
  overflow-x: hidden;
}

.slide-track {
  display: flex;
  animation: scroll 35s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slide {
  width: 100%;
}

.slider::-webkit-scrollbar {
  display: none;
}

/* _________tabs sections____ */
.tab-items {
  position: relative;
  background: linear-gradient(#000, #000 50%, #282828 50%, #282828);
  background-size: 100% 200%;
  transition:
    background 0.3s,
    padding 0.5s ease-in;
}

.tab-items:hover {
  background-position: 100% 100%;
}

.tab-id-wrapper {
  overflow: hidden;
}

.tab-id {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.tab-items:hover .tab-id {
  transform: translateX(100%);
}
.tab-items .tab-arr {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}
.tab-items:hover .tab-arr {
  margin-right: 1rem;
  transform: translateX(-100%);
}

/*___________________________ all cases sticky button___________ */
.sticky-btn {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  left: 0;
  transform: translateY(0);
  transition: transform 0.3s ease-out;
}

/* all cases arrow */
.all-cases {
  cursor: pointer;
  transition: padding 0.2s ease-in-out;
}
.all-cases .text {
  opacity: 1;
}

.all-cases:hover .text {
  opacity: 0;
}
.all-cases .wave {
  position: relative;
}

.all-cases .wave span {
  position: relative;
  display: inline-block;
}

.all-cases:hover .wave span {
  animation: animate 0.5s ease-in-out;
  animation-delay: calc(0.02s * var(--i));
  perspective: 1000px;
  transform-style: preserve-3d;
  transform: rotateX(-60deg);
  color: rgb(71, 69, 69);
}

@keyframes animate {
  0% {
    transform: translateY(10px);
  }

  20% {
    transform: translateY(-2px);
  }

  40%,
  100% {
    transform: translateY(0px);
  }
}

.all-cases-arrow {
  position: relative;
}

.arrow-1 {
  opacity: 1;
  transform-style: preserve-3d;
  transition: transform 0.3s ease;
}

.arrow-2 {
  opacity: 0;
}

.all-cases:hover .arrow-1 {
  opacity: 0;

  transform: scale(1.1);
  transform: translate3d(0%, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}

.all-cases:hover .arrow-2 {
  opacity: 1;

  transform: translate3d(0%, 0%, 0px) scale3d(1.1, 1.1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}

/* underline  */
.project-details .underlineText::after {
  content: "";
  border-bottom: solid 4px white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.25s;
}
.project-details:hover .underlineText::after {
  transform-origin: left;
  transform: scaleX(1);
}
@keyframes underline {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
