.main {
  @apply w-full bg-primary-dark p-0;
}

.main_inner {
  @apply bg-[#151515] relative flex flex-col items-center justify-center  
  w-full mx-auto py-[64px] px-[32px] xl:px-[64px] rounded-[24px]
  max-w-[auto]
  max-h-[auto]
  /* lg:max-w-[clamp(647px,calc(1294/1420*100vw),1941px)]
  lg:max-h-[clamp(192px,calc(384/1420*100vw),576px)]; */;
}

.main h1 {
  @apply font-floral-serif leading-[1.] text-white text-center;
  font-size: clamp(40px, calc(56 / 1420 * 100vw), 100px);
}

.main p {
  @apply mx-auto font-floral-serif leading-[1.4] text-[#A9A9A9] text-center  w-full
  max-w-[90%]
  md:max-w-[clamp(100px,calc(606/1420*100vw),1200px)] pt-[20px];

  font-size: clamp(14px, calc(20 / 1420 * 100vw), 50px);
}

.main button {
  @apply border border-[#ffffff] mx-auto mt-[32px]
  text-white text-center 
  h-[50px]
  w-[250px]
  rounded-[28px]

  xl:h-[68px] 
  xl:w-[270px]
  xl:rounded-[32px]
  font-bold  flex items-center justify-center;
  font-size: clamp(14px, calc(16 / 1420 * 100vw), 45px);
}
